<body>
<div>
    <h4>Filename : <%= filename %></h1>
    <div id="search-container">
    <label for="search"><strong>Search:</strong></label>
    <input type="text" id="search" name="search" value="">
    <button onclick="searchData()">Search</button>
  </div>
    <div id="csvTable">
      <!-- <h2>CSV Data:</h2> -->
      <table id="data-table">
        <thead>
          <tr id="t-head">
            <% headers.forEach(header => { %>
              <th style="border: 1px solid black;"><%= header %></th>
            <% }); %>
            
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(row => { %>
            <tr>
              <% headers.forEach(header => { %>
                <td style="border: 1px solid black;"><%= row[header] %></td>
              <% }); %>
              <!-- <td><%= row.id %></td>
              <td><%= row.firstname %></td>
              <td><%= row.lastname %></td>
              <td><%= row.email %></td>
              <td><%= row.profession %></td> -->
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    
  </body>
  
  </html>