<body>
    <h1>CSV Data Display - <%= filename %></h1>
  
    <div id="csvTable">
      <h2>CSV Data:</h2>
      <table id="data-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Profession</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(row => { %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.firstname %></td>
              <td><%= row.lastname %></td>
              <td><%= row.email %></td>
              <td><%= row.profession %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
  </html>